@import "../../styles/var.less";

.main-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: @LightColor;

  .left-menu {
    min-height: 100%;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #001529;

    .el-menu-item {
      color: rgba(255, 255, 255, 0.6);

      &:hover {
        color: @LightColor;
        background-color: transparent;
      }
    }

    .is-active {
      color: @LightColor;
      background-color: @mainColor;

      &:hover {
        background-color: @mainColor;
      }
    }
  }

  .right-layout {
    flex: 1;
    background-color: #f0f2f5;

    .top-tool {
      display: flex;
      height: 56px;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      background-color: @LightColor;

      .collapse {
        cursor: pointer;

        i {
          font-size: 22px;
        }
      }

      .tool-right {
        display: flex;
        align-items: center;

        .right-logo {
          width: 100px;
          margin-right: 20px;
        }

        .right-btn {
          .el-button {
            margin-left: 10px;
          }
        }
      }
    }

    .main-area {
      padding: 20px;
    }
  }


}