@import "../../styles/var.less";

.main-wrapper {
  width: 100%;
  min-height: 100vh;

  .right-layout {
    position: relative;
    margin-left: 200px;
    min-height: 100vh;
    background-color: @baseFill;

    .top-tool {
      position: fixed;
      top: 0;
      z-index: 9;
      display: flex;
      width: calc(100% - 200px);
      height: 56px;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.8);

      .tool-logo {
        width: 110px;
      }

      .tool-btn {
        .el-button {
          margin-left: 6px;
        }
      }
    }

    .main-area {
      min-height: 100vh;
      padding: 66px 10px 70px 10px;
    }
  }


}