@import "../../styles/var.less";

@media (max-width: 768px) {
  .main-wrapper {
    .pc-menu {
      display: none;
    }

    .right-layout {
      margin-left: 0;

      .top-tool {
        width: 100%;
        height: 1.2rem;
        padding: 0 0.24rem;
        background-color: rgba(255, 255, 255, 0.8);

        .tool-logo {
          width: 30%;
        }

        .tool-btn {
          >span {
            display: none;
          }

          .el-button {
            margin-left: 0;
          }
        }
      }

      .main-area {
        padding: 1.44rem 0.24rem 1.4rem;
      }
    }
  }
}