@import "../../styles/var.less";

.search-area {
  margin-bottom: 10px;
  padding: 20px 20px 0;
  background-color: @LightColor;
}

.product-main {
  width: calc(100vw - 220px);
  padding: 20px 20px 50px;
  background-color: @LightColor;

  .product-inset {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  /deep/.custom-title {
    height: 60px;
    background-color: rgba(64, 158, 255, 0.5);
  }
  .pagination-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}
